* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* fonts*/

@font-face {
	font-family: "century";
	src: url("Century Normal.ttf");
}

@font-face {
	font-family: "songmyung";
	src: url("SongMyung-Regular.ttf");
}

@font-face {
	font-family: "roboto";
	src: url("Roboto-Bold.ttf");
}

.century {
	font-family: "century";
}

.brush {
	font-family: "songmyung";
}

/* divs */

header {
	background-color: #CED3CD; 
	/*background-image: url(bg.jpg); */
	background-size: cover; 
	background-blend-mode:soft-light;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 30px;
}

#head-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#right {
	text-align: right;
}

body {
	padding: 20px;
	font-family: Helvetica, sans-serif;
	color: #353E4D;
	/*text-shadow: 0 0 10px #353E4D;*/
	background-color: #CED3CD;
	cursor: url('https://pixels.crd.co/assets/images/gallery23/8411098b.gif?v=9b219e01'), auto;
}

section {
	margin-bottom: 20px;
}

/* darkmode stuff*/

.darkmode {
	color: #CED3CD;
	/*text-shadow: 0 0 10px #F1F4ED;*/
	background-color: #3B3034;
}

.darkmode header {
	background-color: #3B3034; 
	background-repeat: no-repeat; 
	background-blend-mode:soft-light;

}

.darkmode a,
.darkmode a:visited {
	color: #CED3CD;
	text-shadow: 0 0 10px #E6484F;
}

.darkmode a:hover {
	color: #FFFFFF;
}

.darkmode button {
	color: #CED3CD;
	text-shadow: 0 0 10px #E6484F;
	cursor: url('https://pixels.crd.co/assets/images/gallery40/df058d7c.gif?v=9b219e01'), auto;
}

.darkmode button:hover {
	color: #FFFFFF;
}

.hidden {
	display: none;
}

/* text*/

p,
li {
	font-size: 22px;
	line-height: 30px;
}

h1 {
	font-size: 48px;
	padding-bottom: 20px;
}

h2 {
	font-size: 32px;
	padding-left: 5px;
}

h3 {
	font-size: 30px;
	padding-bottom: 10px
}

h4 {
	font-size: 24px;
	padding-bottom: 14px;
}

/*
section h4 {
	text-shadow: 0 0 20px #fff, 0 0 30px #e60073, 
	0 0 40px #e60073, 0 0 50px #e60073;
}*/

p,
li {
	padding-bottom: 10px;
}

ul,
ol {
	margin-left: 20px;
}

/* misc*/

button {
	transition: all 400ms ease;
	border-radius: 10px;
	background: none;
	padding: 5px;
	border: 0px;
	color: #353E4D;
	text-shadow: 0 0 10px #19B4AE;
	cursor: url('https://pixels.crd.co/assets/images/gallery62/6735522f.png?v=9b219e01'), auto;
}

button:hover {
	color: #F1F4ED
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:visited {
	transition: all 400ms ease;
	color: #353E4D;
	text-shadow: 0 0 10px #19B4AE;
	cursor: url('https://pixels.crd.co/assets/images/gallery65/50418f3e.gif?v=9b219e01'), auto;
}

a:hover {
	color: #DEE8E9;

}

/* spacing */

#left-column {
	padding: 20px;
}


/* adaptive */
@media only screen and (max-device-width: 812px) {
	body {
		padding: 10px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 24px;
	}

	h4 {
		font-size: 24px;
	}
}


/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#right-column {
	background: #333;
}*/